.wstep {
	text-align: center;
		color: #769B7A;
}

h2 {
	font-family: garamond;
	font-size: 30px;
	text-align: center;
}

h4 {
	font-family: garamond;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #769B7A;
}

.tekst {
		font-family: garamond;
		font-size: 18px;
		max-width:40%;
		float:left;
		padding-left:150px;
		background-color: #ECF1F1;
			max-height: 40%;
}

hr {
	color: #ECF1F1;
}

.calosc {
	background-color: #ECF1F1;
}

.zdjecie1 {
	float: right;
	max-width: 40%;
	max-height: 40%;
}

body {
	background-color: #ECF1F1;
}

.tekst2 {
	font-family: garamond;
		font-size: 18px;
		max-width:40%;
		float:right;
		padding-right:150px;
		background-color: #ECF1F1;
			max-height: 40%;
}

.zdjecie2 {
	text-align: center;
	float: left;
	max-width: 45%;
}

.link {
		font-family: garamond;
		font-size: 20px;
width: 100%;
text-align: center;
		background-color: #ECF1F1;
		flex: 1;
			max-height: 40%;
			display: flex;
      flex-direction: column;
      min-width: 100vh;
}

a {
	text-decoration: none;
}